@font-face {
    font-family: TagBoyHardCore;
    src: url(TagBoyHardcore/TagBoyHardcore.ttf);
}

body {
    box-sizing: border-box;
    background-color: #26425a ;
}

/*div {
    border: solid;
}*/

.header, .navigation{
    display: grid;
   
}
.header {
    grid-template-columns: auto auto auto auto ;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    place-items: right;
    z-index: 1;
    
}

.navigation {
    background-color: #000939;
    padding: 10px;
    
    
    
}
.synatyc {
    border-right: solid;
}
.synatyc h1{
    font-weight: normal;
    font-family:TagboyHardCore;
    color: #04ffff;
}
.synatyc a{
    color: inherit;
    text-decoration: none;
}
.Home, .Profile, .Data {
    font-family: Arial, Helvetica, sans-serif;
    color: #efefef;
    justify-content: right;
    
}
.Home h1 a, .Profile h1 a, .Data h1 a {
    text-decoration: none;
    font-weight: normal;
    color: inherit;
}

.content {
    position: relative;
    margin-top: 100px;
    padding: 5px;
    text-align: left;
    display: grid;
    width: 100%;
    justify-content: space-evenly;
    grid-template-columns: 100px auto auto ;
    gap: 10px 10px;
    background-color: #000939;
}

.artikel {
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: white;
    border-radius: 25px;
}
.topik {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    place-items: center;
    
    
}
.ilustrasi img{
    width: 99%;
    height: 300px;
}

    

.ilustrasi {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    width: 100%;
}
 .sub-judul {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    

}
.paragraph {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: justify;
}

.isi {
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: white;
   
}
.topik1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    place-items: center;
}

.sub-judul1{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
}
.paragraph1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: justify;
}

.ilustrasi1 img{
    width: 99%;
    height: 600px;
}

.ilustrasi1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6;
    width: 100%;
}

.step {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end:7;
}
.step1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end:7;

}
.step2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end:7;
}

.step21 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end:8;
}

.step3 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end:7;
}
.step31 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end:8;
}

