/*KFONT SPESIAL*/
@font-face {
    font-family: TagBoyHardCore;
    src: url(TagBoyHardcore/TagBoyHardcore.ttf);
}

body {
    box-sizing: border-box;
    background-color: #26425a;
    margin:0px;
}

/*SETUP DI DESKSTOP */
@media only screen and (min-width:600px){
.header, .navigation{
    display: grid;
   
}
.header {
    grid-template-columns: auto auto auto auto ;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    place-items: right;
    z-index: 1;
    
    
}
.Home, .Profile, .Data {
    font-family: Arial, Helvetica, sans-serif;
    color: #efefef;
    justify-content: right;
}

.navigation {
    background-color: #000939;
    padding: 10px;
}
.synatyc h1{
    font-weight: normal;
    font-family:TagboyHardCore;
    color: #04ffff;
}
.synatyc a{
    color: inherit;
    text-decoration: none;
}
.Home h1 a, .Profile h1 a, .Data h1 a {
    text-decoration: none;
    font-weight: normal;
    color: inherit;
}
.content {
    position: relative;
    margin-top: 0px;
    padding: 5px;
}
.artikel1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #26425a;
    padding: 5px;
    align-items: center;
    color: white;
    border-radius: 25px;
    margin-top: 100px;
}
.artikel1 h2 {
    font-weight: normal;
}
.isi img {
    width: 100%;
}
.isi {
    padding: 10px;
    display: grid;
    text-align: center;
    display: grid;
    width: 100%;
    margin: 0% auto;
    justify-content: space-evenly;
    grid-template-columns: auto ;
    gap: 10px 10px;
}
.table {
    display: grid;
    grid-row-start:1;
}
.table .gambar{
    grid-column-start: 1;
    grid-column-end: 2;
}
.table .irfan{
    grid-column-start: 3;
    grid-column-end: 4;
}
.irfan{
    display: grid;
    width: 100%;
    margin: 0% auto;
    justify-content: space-evenly;
    grid-template-columns: auto ;
    gap: 10px 10px;
}
.irfan a{
    text-decoration: none;
    background-color: inherit;
}
.bio {
    display: grid;
    background-color: #4c996b;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: white;
    border-radius: 25px;

}
.bio a{
    text-decoration: none;
    color: inherit;
}
.item1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 5;
}
.item2 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
}.item2-1{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
}
.item2-3{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
}
.Pengalaman  {
    padding: 5px;
    color:#efefef;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    place-items: left;
    float: left;
    
}
.Pengalaman h2 {
    text-align: center;
}

}
/* SETUP MOBILE */
@media only screen and (max-width:600px){
    .header, .navigation{
        display: grid;
    }
    
    .header .synatyc{
        grid-template-columns: auto  ;
        width: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 1;
        background-color: #000939;
    }
    .synatyc{
        grid-row-start: 1;
        text-align: center;
        
    }
    .synatyc h1{
        font-weight: normal;
        font-family:TagboyHardCore;
        color: #04ffff;
    }
    .synatyc a{
        color: inherit;
        text-decoration: none;
    }
    .Home{
        grid-row-start: 2;
        margin-top: 80px;
       
    }
    .Profile {
        grid-row-start: 3;
    }
    .Data{
        grid-row-start: 4;
    }
    .Home, .Profile, .Data {
        font-family: Arial, Helvetica, sans-serif;
        color: #efefef;
        text-align: center;
        width: 100%;       
    }
    .Home h1 a, .Profile h1 a, .Data h1 a {
        text-decoration: none;
        font-weight: normal;
        color: inherit;
    }
    .navigation {
    background-color:#0a0931;
    padding: 10px;
    }
    .content {
        position: relative;
        margin-top: 0px;
        padding: 5px;
    }
    .artikel1{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        background-color: #26425a;
        padding: 5px;
        align-items: center;
        color: white;
        border-radius: 25px;
    }
    .artikel1 h2 {
        font-weight: normal;
    }
    .isi img {
        width: 100%;
    }
    .isi {
        padding: 10px;
        display: grid;
        text-align: center;
        display: grid;
        width: 100%;
        margin: 0% auto;
        justify-content: space-evenly;
        grid-template-columns: auto ;
        gap: 10px 10px;
    }
    .table {
        display: grid;
    }
    .table .gambar{
        grid-row-start: 1;
    }
    .table .irfan{
        grid-row-start: 2;
    }
    .irfan{
        display: grid;
        width: 100%;
        margin: 0% auto;
        justify-content: space-evenly;
        grid-template-columns: auto ;
        gap: 10px 10px;
    }
    .irfan a{
        text-decoration: none;
        background-color: inherit;
    }
    .bio {
        display: grid;
        background-color: #4c996b;
        place-items: center;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        color: white;
        border-radius: 25px;
    
    }
    .bio a{
        text-decoration: none;
        color: inherit;
    }
    .item1 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 5;
    }
    .item2 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 5;
        grid-row-end: 5;
    }.item2-1{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 5;
    }
    .item2-3{
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 5;
    }
    .Pengalaman  {
        padding: 5px;
        color:#efefef;
        font-family: Arial, Helvetica, sans-serif;
        display: grid;
        place-items: left;
        float: left;
        
    }
    .Pengalaman h2 {
        text-align: center;
    }
}

